/*Navbar and main page stucture*/
#main-content {
	height: 90%;
}
#navbar {
    position: absolute;
	height: 10%;
    bottom: 0;
}
.menu-item-image {
	width: 20%;
	height: 8em;
	border-width: 2px;
	padding-left: 1%;
	padding-right: 1%;
	display: inline-block;
}

/*Common page styles*/
body {
    background-color: #b8b6b7;
    font-family:'Courier New', Courier, monospace;
    height: 100%;
    margin: 0;
}
.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 5em;
    margin-bottom: 10px;
    margin-top: 0px;
}
.label-text {
    font-size: 2.75em;
}
.resource {
    margin-bottom: 8px;
}
.input {
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-color: #ffffff;
    max-width: 2em;
    font-family:'Courier New', Courier, monospace;
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
}


.result {
    background-color: #ffffff;
    padding: 3px;
}

.result-row {
    padding-top: 15px;
    font-size: 2em;
}

.button-text {
    font-size: 3.5em;
    font-weight: bold;
}

table {
    width: 95%;
}

td span {
    float: right;
    flex-wrap: nowrap;
    padding-top: 5%; 
}

button {
    font-family:'Courier New', Courier, monospace; 
    padding-left: 2.25em;
    padding-right: 2.25em;
    font-weight: bold;
}

p {
    font-family:'Courier New', Courier, monospace;
}

.center-button-section {
    display: flex;
    justify-content: center;
    margin-top: 1.2em;
    margin-bottom: 0.5em;
}

textarea {
    width: 90%;
    height: 7.5em;
    font-size: 2.75em;
    outline: none;
    resize: none;
}

.button-section {
    width: 50%;
}

.button-label {
    width: 50%;
}

.minus .plus {
    font-family:'Courier New', Courier, monospace;
    width: 10em;
    height: 10em;
}