/*Navbar and main page stucture*/
#main-content {
	height: 90%;
    width: 100%;
    position: absolute;
    top: 0;
}
#navbar {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10%;
}
.menu-item-image {
	width: 20%;
	height: 8em;
	border-width: 2px;
	padding-left: 1%;
	padding-right: 1%;
	display: inline-block;
}

/*Common page styles*/
body {
    background-color: #b8b6b7;
    font-family:'Courier New', Courier, monospace;
    margin:2%;
}
.title {
    font-family:'Courier New', Courier, monospace;
    font-size:3.75em;
    margin-bottom: 10px;
}
.label-text {
    font-size: 2.75em;
}
.resource {
    margin-bottom: 8px;
}
.input {
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-color: #b8b6b7;
    width:40px;
    font-family:'Courier New', Courier, monospace;
    font-size:3.25em;
    text-align: center;                
}
.minus .plus {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.5em;
}

.button-text {
    font-size: 2.5em;
}

table {
    width: 95%;
}

td span {
    float: right;
    flex-wrap: nowrap;
    padding-top: 5%; 
}

button {
    font-family:'Courier New', Courier, monospace; 
    padding-left: 2.25em;
    padding-right: 2.25em;
}

p {
    font-family:'Courier New', Courier, monospace;
}

.center-button-section {
    display: flex;
    justify-content: center;
    margin-top: 1.2em;
    margin-bottom: 0.5em;
}


.button-section {
    width: 50%;
}

.button-label {
    width: 50%;
}
